<a href="https://colab.research.google.com/github/EduardoAcostaC/Simulacion-I/blob/main/GeneradorCuadradoMedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generador Cuadrado Medio

El generador cuadrado medio es un tipo de generador de números pseudoaleatorios utilizado en simulaciones estadísticas y en la generación de secuencias aleatorias. Es un método basado en la técnica de **cuadrado medio**, que a su vez se inspira en la operación de elevar un número al cuadrado.

La idea básica detrás de este generador es que se toma un número, se eleva al cuadrado y se extraen ciertos dígitos del resultado para formar el siguiente número en la secuencia. Este proceso es repetido para obtener una secuencia de números.

La fórmula general para el generador cuadrado medio es:

$$
x_{n+1} = \text{mid}\left(x_n^2 \right)
$$

Donde:

- $ x_n $ es el número pseudoaleatorio en el paso.
- $ x_{n+1} $ es el siguiente número en la secuencia.
- $ \text{mid}(x) $ denota los dígitos centrales de $ x $.

El generador comienza con un valor inicial $ x_0 $ (semilla), que generalmente se toma como un número de varios dígitos. A partir de ahí, se calculan los cuadrados sucesivos y se extraen los dígitos centrales. El proceso se repite para generar una secuencia de números pseudoaleatorios.

In [2]:
import pandas as pd

def generador_cuadrado_medio(semilla):
  """
  Generador de números pseudoaleatorios utilizando el método del cuadrado medio.

  Args:
    semilla: El valor inicial para la generación de números.

  Returns:
    Un DataFrame de pandas con las iteraciones, x_n, x_n+1 y los valores normalizados de x_n+1.
  """
  contador = 0
  x_n = semilla
  numeros_aleatorios = []
  resultados = []

  while x_n not in numeros_aleatorios:  # Criterio de paro: número repetido
    contador += 1
    numeros_aleatorios.append(x_n)
    x_n_cuadrado = str(x_n ** 2)
    longitud = len(x_n_cuadrado)
    inicio = (longitud - len(str(semilla))) // 2
    fin = inicio + len(str(semilla))
    x_n_siguiente = int(x_n_cuadrado[inicio:fin])

    resultados.append([contador, x_n, x_n_siguiente, x_n_siguiente / (10 ** len(str(semilla)))])

    x_n = x_n_siguiente

  print(f"Iniciamos en {semilla} y con repeticiones hasta {contador} con el numero {x_n}")  # Mensaje al final

  df_resultados = pd.DataFrame(resultados, columns=['Iteración', 'x_n', 'x_n+1', 'x_n+1 Normalizado'])

  df_resultados = df_resultados.style.set_properties(**{'text-align': 'center'}) \
                                   .set_table_styles([{'selector': 'th', 'props': [('background-color', '#a6a6a6')]}]).hide(axis="index")

  return df_resultados

# Ejemplo de uso:
semilla = 1960
df_resultados = generador_cuadrado_medio(semilla)
display(df_resultados)

Iniciamos en 1960 y con repeticiones hasta 18 con el numero 5600